/* Estilo base para todos los elementos */
* {
    box-sizing: border-box;
}

/* Estilo del cuerpo del documento */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("../img/slider-1.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e3de59;
    transition: background-image 1s ease-in-out;
}

/* Estilo del formulario */
.form {
    width: 340px;
    height: 465px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 240px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    position: relative;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    50% {
        transform: translate(0, 8px);
    }
}

/* Estilo de las imágenes */
img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo de los encabezados */
h2 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    color: #434346;
    border-top: 3px solid #434346;
}

/* Estilo de los subtítulos */
h4 {
    text-align: center;
    margin: 0;
    margin-bottom: -15px;
    color: #78788c;
}

/* Estilo de los campos de entrada */
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input:focus {
    border-bottom: 2px solid #78788c;
}

/* Estilo de los párrafos antes de los campos de entrada */
p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

/* Estilo de los botones */
button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #78788c;
    color: #fff;
    transform: scale(1.1);
}

/* Estilo de los div sin clase */
div:not([class]) {
    position: absolute;
    bottom: -20px;
    right: -10px;
    background: #50505a;
    color: #fff;
    width: 300px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}

/* Estilo de los elementos span */
span {
    margin: 0 5px 0 15px;
}

/* Estilo del contenedor del modal */
.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .3s;
}

/* Estilo del modal */
.modal {
    background: #e6e6e6;
    width: 320px;
    max-width: calc(100vw - 60px);
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilo de visualización del modal */
.show {
    pointer-events: auto;
    opacity: 1;
}

/* Estilo del botón de cierre del modal */
.close {
    float: none;
    padding: 10px 30px;
    font-size: 16px;
}

/* Estilos para pantallas con un ancho mínimo de 768px */
@media (min-width: 768px) {
    body {
        background-size: cover;
        min-height: 100vh;
    }
}

/* Estilos para pantallas con un ancho máximo de 321px */
@media (max-width: 321px) {
    body {
        overflow: visible;
    }
}